/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/* General */
* {
    box-sizing: border-box;
}
body {
    background: #111;
    font-family: 'Bungee', cursive;
}

/* Container */
#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Board */
#board{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 1rem;
}
#score-block, #best-block {
    background: #6b645e;
    border-radius: 8px;
    padding: 1rem;
    color: rgba(238, 228, 218, 0.35);
}
#score-title, #best-title {
    line-height: 1.5;
    margin: 0;
}
#score, #best {
    color: #FFF;
    font-size: 2rem;
}

/* App */
#app {
    width: 600px;
    height: 600px;
    background: #6b645e;
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

/* Cell */
.cell {
    width: 100%;
    height: 100%;
    background: rgba(238, 228, 218, 0.35);
    border-radius: 8px;
}

/* Number */
.number{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 3.5rem;
    transition: .2s;
}
